---
http_interactions:
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/Inventory/<API_KEY>/9781501107832
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"msg":"[API key is not valid]","input":[{"extension":"data","page":"1","per_page":"10","api":"inventory","apiKey":"<API_KEY>"}],"status":"warning","meta":[{"utm_source":"powellsapi"}]}]'
  recorded_at: Sun, 24 Apr 2016 01:31:00 GMT
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/product/<API_KEY>/9781501107832?debug=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"msg":"[API key is not valid]","input":[{"extension":"data","page":"1","per_page":"10","api":"product","apiKey":"<API_KEY>"}],"status":"warning","meta":[{"utm_source":"powellsapi"}]}]'
  recorded_at: Sun, 24 Apr 2016 01:31:01 GMT
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/locations/<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"msg":"[API key is not valid]","input":[{"extension":"data","page":"1","per_page":"10","api":"locations","apiKey":"<API_KEY>"}],"status":"warning","meta":[{"utm_source":"powellsapi"}]}]'
  recorded_at: Sun, 24 Apr 2016 01:31:01 GMT
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/recommendation/<API_KEY>/9780590353427
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"msg":"[API key is not valid]","input":[{"extension":"data","page":"1","per_page":"10","api":"recommendation","apiKey":"<API_KEY>"}],"status":"warning","meta":[{"utm_source":"powellsapi"}]}]'
  recorded_at: Sun, 24 Apr 2016 01:31:02 GMT
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/content/<API_KEY>/9780590353427
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"msg":"[API key is not valid]","input":[{"extension":"data","page":"1","per_page":"10","api":"content","apiKey":"<API_KEY>"}],"status":"warning","meta":[{"utm_source":"powellsapi"}]}]'
  recorded_at: Sun, 24 Apr 2016 01:31:02 GMT
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/pdxbestsellers/<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"msg":"[API key is not valid]","input":[{"extension":"data","page":"1","per_page":"10","api":"pdxbestsellers","apiKey":"<API_KEY>"}],"status":"warning","meta":[{"utm_source":"powellsapi"}]}]'
  recorded_at: Sun, 24 Apr 2016 01:31:03 GMT
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/locations/<API_KEY>/powells-city-of-books
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"msg":"[API key is not valid]","input":[{"extension":"data","page":"1","per_page":"10","api":"locations","apiKey":"<API_KEY>"}],"status":"warning","meta":[{"utm_source":"powellsapi"}]}]'
  recorded_at: Sun, 24 Apr 2016 01:31:03 GMT
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/product/<API_KEY>/9781501107832
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"msg":"[API key is not valid]","input":[{"extension":"data","page":"1","per_page":"10","api":"product","apiKey":"<API_KEY>"}],"status":"warning","meta":[{"utm_source":"powellsapi"}]}]'
  recorded_at: Sun, 24 Apr 2016 01:31:03 GMT
recorded_with: VCR 3.0.1
