---
http_interactions:
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/pdxbestsellers/<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"$VAR1":[{"msg":"[]","input":[{"extension":"data","page":"1","per_page":"10","api":"pdxbestsellers","apiKey":"<API_KEY>"}],"status":"success","meta":[{"utm_source":"powellsapi","partner_id":"37023","Internal":1}],"results":[{"product_page":"http://www.powells.com/book/Harry-Potter-Coloring-Book-1-9781338029994?partnerid=37023&p_wgt","title":"Harry
        Potter: Coloring Book #1","isbn":"9781338029994","author":"Scholastic Inc.","publisher":"SCHOLASTIC
        INC.","cover_images":"http://powells-covers-2.s3.amazonaws.com/9781338029994.jpg","listing_price":"15.99"},{"product_page":"http://www.powells.com/book/Mindfulness-Coloring-Book-Volume-2-Anti-Stress-Art-Therapy-for-Busy-People-9781615193028?partnerid=37023&p_wgt","title":"Mindfulness
        Coloring Book, Volume 2: Anti Stress Art Therapy for Busy People","isbn":"9781615193028","author":"Emma
        Farrarons","publisher":"Experiment","cover_images":"http://powells-covers-2.s3.amazonaws.com/9781615193028.jpg","listing_price":"9.95"},{"product_page":"http://www.powells.com/book/Portlandness[...]
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/Inventory/<API_KEY>/9781501107832
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"msg":"()","input":{"extension":"","page":"1","per_page":"10","api":"inventory","apiKey":"<API_KEY>"},"status":"success","meta":{"utm_source":"powellsapi","page":0,"last_page":0,"per_page":"10","cover_images":{"60":"http://powells-covers-2.s3.amazonaws.com/9781501107832.jpg","120":"http://powells-covers-2.s3.amazonaws.com/9781501107832.jpg"},"author":{"alpha":"Parker
        Mary Louise","proper":"Mary Louise Parker"},"product_page":"http://www.powells.com/book/dear-mr-you-9781501107832?partnerid=37023","partner_id":"37023","page_results":1,"title":"Dear
        Mr. You","Internal":1},"results":{"9781501107832":{"locations":{"Local Warehouse":{"18-9781501107832-0":
        { "received_date":"11/10/2015 8:00:00 AM","shelf_location":"","binding":"Hardcover","section":{"minor":"~Biograph","major":"~Biograph"},"author":{"alpha":"Parker
        Mary Louise","proper":"Mary Louise Parker"},"qty":"20","site_links":{"add_to_cart":"http://www.powells.com/ShoppingCart.aspx?ProductItemID=56415939","product_page":"http://www.powells.com/book/dear-mr-you-9781501107832?partnerid=37023"},"title":"Dear
        Mr. You","isbn":"9781501107832","class":"New","price":"17.50","publisher":"Scribner
        Book Company"}}}}}}'
  recorded_at: Sat, 05 Dec 2015 11:30:56 GMT
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/content/<API_KEY>/9780590353427
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"$VAR1":[{"msg":"[]","input":[{"extension":"data","page":"1","per_page":"10","api":"content","apiKey":"<API_KEY>"}],"status":"success","meta":[{"utm_source":"powellsapi","page":0,"last_page":0,"per_page":10,"page_results":1,"Internal":1,"partner_id":"37023"}],"results":[{"synopsis":[{"text":"Rescued
        from the outrageous neglect of his aunt and uncle, a young boy with a great
        destiny proves his worth while attending Hogwarts School for Wizards and Witches.","type":"Synopsis"}],"review":[{"text":"\"[T]he
        rapturous reception of the Harry Potter books is heartening, because J.K.
        Rowling is a literary artist, and these three books possess more imaginative
        life than the majority of novels that are published in this country in any
        given year. They are full of marvelous invention and humor and fun, but they
        have more than that.\" <i>Lee Siegel, The New Republic</i> (<a href=\"http://www.powells.com/review/2001_07_12\">read
        the entire Ne[...]
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/locations/<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"$VAR1":[{"msg":"[]","input":[{"extension":"data","page":"1","per_page":"10","api":"locations","apiKey":"<API_KEY>"}],"status":"success","meta":[{"utm_source":"powellsapi","page":0,"last_page":0,"per_page":10,"partner_id":"37023","page_results":1,"Internal":1}],"result":[{"hours":"","coordinates":[{"lat":"0.00","lng":"0.00"}],"name":"Burnside","phone":"","description":"Burnside","message":"","state":"OR","city":"Portland","zip":"97209","slug":"burnside","url":"http://www.powells.com/locations/powells-city-of-books","address":"1005
        W Burnside St. Portland OR United States 97209"},{"hours":"","coordinates":[{"lat":"0.00","lng":"0.00"}],"name":"Cedar
        Hills","phone":"","description":"Cedar Hills","message":"","state":"OR","city":"Beaverton","zip":"97005","slug":"cedar-hills","url":"http://www.powells.com/locations/powells-books-at-cedar-hills-crossing","address":"1075
        First Ave Portland OR United States 97209"},{"hours":"","coordinates":[{"lat":"0.00","lng":"0.00"}],"name":"Home
        & Garden"[...]
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/search/<API_KEY>/harry%20potter/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"msg":"()","input":[{"extension":"","page":"1","per_page":"10","api":"search","apiKey":"<API_KEY>"}],"status":"success","meta":[{"utm_source":"powellsapi","page":0,"partner_id":"37023","last_page":0,"per_page":"10","page_results":1,"Internal":1}],"results":[{"product_page":"http://www.powells.com/book/harry-potter-in-the-real-world-9781156026526?partnerid=37023","cover_images":[{"60":"http://powells-covers-2.s3.amazonaws.com/9781156026526.jpg","120":"http://powells-covers-2.s3.amazonaws.com/9781156026526.jpg"}],"author":[{"alpha":"Books
        LLC","proper":"LLC Books"}],"title":"Harry Potter in the Real World: Harry
        Potter Attractions, Harry Potter Bands, Harry Potter Controversies, Harry
        Potter Derived Works","isbn":"9781156026526","publisher":"Books LLC","list_prices":[{"19.99":"1"}]},{"product_page":"http://www.powells.com/book/harry-potter-fandom-9781156026519?partnerid=37023","cover_images":[{"60":"http://powells-covers-2.s3.amazonaws.com/9781156026519.jpg","120":"http://powells-covers-2.s3.amazonaws.com/9781156026519.jpg"}],"author":[{"alpha":"Books
        LLC","proper":"LLC Books"}],"title":"Harry Potter Fandom: Harry Potter Bands,
        Harry Potter Derived Works, Harry Potter Websites, Harry and the Potters Albums,
        Harry Potter Fand","isbn":[...]
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/locations/<API_KEY>/powells-city-of-books
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"$VAR1":[{"msg":"[]","input":[{"extension":"data","page":"1","per_page":"10","api":"locations","apiKey":"<API_KEY>"}],"status":"success","meta":[{"utm_source":"powellsapi","page":0,"last_page":0,"per_page":10,"partner_id":"","page_results":1,"Internal":1}],"result":[]}]}'
  recorded_at: Sat, 05 Dec 2015 11:31:00 GMT
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/search/<API_KEY>/harry%20potter/?debug=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"msg":"()","input":[{"extension":"","page":"1","per_page":"10","api":"search","apiKey":"<API_KEY>"}],"status":"success","meta":[{"utm_sou[...]
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/product/<API_KEY>/9781501107832
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"msg":"()","input":[{"extension":"","page":"1","per_page":"10","api":"product","apiKey":"<API_KEY>"}],"status":"success","meta":[{"utm_source":"powellsapi","page":0,"partner_id":"37023","last_page":0,"per_page":"10","page_results":1,"Internal":1}],"results":[{"cover_images":[{"60":"http://powells-covers-2.s3.amazonaws.com/9781501107832.jpg","120":"http://powells-covers-2.s3.amazonaws.com/9781501107832.jpg"}],"related_isbns":[{"isbn":["9780385540612","9780385347563"]}],"author":[{"alpha":"Parker
        Mary Louise","proper":"Mary Louise Parker"}],"product_page":"http://www.powells.com/book/dear-mr-you-9781501107832?partnerid=37023","isbn":"9781501107832","title":"Dear
        Mr. You","publisher":"Scribner Book Company","list_prices":[{"25":"1"}]}]}]'
  recorded_at: Sat, 05 Dec 2015 11:31:07 GMT
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/recommendation/<API_KEY>/9780590353427
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"$VAR1":[{"msg":"[]","input":[{"extension":"data","page":"1","per_page":"10","api":"recommendation","apiKey":"<API_KEY>"}],"status":"success[...]
- request:
    method: get
    uri: http://api.powells.com:8081/PowellsApi.svc/search/<API_KEY>/harry%20potter/?per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"msg":"()","input":[{"extension":"","page":"1","per_page":"10","api":"search","apiKey":"<API_KEY>"}],"status":"success","meta":[{"utm[...]
