---
http_interactions:
- request:
    method: get
    uri: http://api.powells.com/v0c/testing/inventory/9780590353427
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"msg":[],"input":{"extension":null,"page":"1","per_page":"10","api":"inventory","apikey":"testing"},"status":"success","meta":{"utm_source":"powellsapi","page":"0","last_page":"0","per_page":"10","cover_images":{"60":"http://content-7.powells.com/bookcovers/60/9780590353427","120":"http://content-7.powells.com/bookcovers/120/9780590353427"},"author":{"alpha":"Rowling,
        J. K. ","proper":"J. K. Rowling"},"product_page":"http://www.powells.com/biblio/9780590353427?utm_source=powellsapi","page_results":"1","title":"Harry
        Potter and the Sorcerer''s Stone (Harry Potter #1)","internal":1},"results":{"9780590353427":{"locations":{"powells-books-at-pdx":{"8-9780590353427-7":{"received_date":"20140617","binding":"Trade
        Paper","section":{"minor":"General","major":"Children''s Young Adult"},"author":{"alpha":"Rowling,
        J. K. ","proper":"J. K. Rowling"},"qty":"1","site_links":{"add_to_cart":"http://www.powells.com/cgi-bin/Shopping_cart?add=8-9780590353427-7&utm_source=powellsapi","product_page":"http://www.powells.com/biblio/8-9780590353427-7?utm_source=powellsapi"},"title":"Harry
        Potter and the Sorcerer''s Stone (Harry Potter #1)","isbn":"9780590353427","class":"Used","price":"4.95","publisher":"Arthur
        A. Levine Books"}},"powells-books-on-hawthorne":{"7-9780590353427-0":{"received_date":"20140530","shelf_location":"415
        wall","binding":"Trade Paper","section":{"minor":"General","major":"Children''s
        Middle Readers"},"author":{"alpha":"Rowling, J. K. ","proper":"J. K. Rowling"},"qty":"2","site_links":{"add_to_cart":"http://www.powells.com/cgi-bin/Shopping_cart?add=7-9780590353427-0&utm_source=powellsapi","product_page":"http://www.powells.com/biblio/7-9780590353427-0?utm_source=powellsapi"},"title":"Harry
        Potter and the Sorcerer''s Stone (Harry Potter #1)","isbn":"9780590353427","clas[...]
- request:
    method: get
    uri: http://api.powells.com/v0c/testing/recommendation/9780590353427
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"msg":[],"input":{"extension":null,"page":"1","per_page":"10","api":"recommendation","apikey":"testing"},"status":"success","meta":{"utm_source":"powellsapi",[...]
- request:
    method: get
    uri: http://api.powells.com/v0c/testing/inventory/17-9780590353427-80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"msg":[],"input":{"extension":null,"page":"1","per_page":"10","api":"inventory","apikey":"testing"},"status":"success","meta":{"utm_source":"powellsapi","page":"0","last_page":"0","per_page":"10","cover_images":"","author":{"alpha":"","proper":""},"product_page":"http://www.powells.com/biblio/17-9780590353427-80?utm_source=powellsapi","page_results":"1","title":"","internal":1},"results":{"17-9780590353427-80":{"locations":{"":{"":{"received_date":"","binding":"","section":{"major":"General"},"author":{"alpha":"","proper":""},"qty":"","product_page":"http://www.powells.com/biblio/?utm_source=powellsapi","title":"","isbn":"17-9780590353427-80","class":"","price":"","publisher":""}}}}}}'
  recorded_at: Thu, 19 Jun 2014 10:00:06 GMT
- request:
    method: get
    uri: http://api.powells.com/v0c/testing/search/harry%20potter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"msg":[],"input":{"extension":null,"page":"1","per_page":"10","api":"search","apikey":"testing"},"status":"success","meta":{"utm_source":"powellsapi","page":1,"last_page":64,"per_page":10,"page_results":"639","internal":1},"results":[{"cover_images":{"60":"http://content-2.powells.com/bookcovers/60/9780545615402","120":"http://content-2.powells.com/bookcovers/120/9780545615402"},"related_isbns":["9780545615402"],"author":{"alpha":"Hermione
        Granger (trn)","proper":"Hermione Granger (trn)"},"product_page":"http://www.powells.com/biblio/9780545615402?utm_source=powellsapi","isbn":"9780545615402","title":"The
        Hogwarts Library (Harry Potter)","publisher":"Scholastic","list_prices":{"29.99":1}},{"cover_images":{"60":"http://content-0.powells.com/bookcovers/60/9781608870080","120":"http://content-0.powells.com/bookcovers/120/9781608870080"},"related_isbns":["9781608870080"],"author":{"alpha":"Jk
        Rowling","proper":"Jk Rowling"},"product_page":"http://www.powells.com/biblio/9781608870080?utm_source=powellsapi","isbn":"9781608870080","title":"Harry
        Potter: A Pop-Up Book: Based on the Film Phenomenon","publisher":"Insight
        Editions","list_prices":{"0.00":1}},{"cover_images":{"60":"http://content-7.powells.com/bookcovers/60/9780590353427","120":"http://content-7.powells.com/bookcovers/120/9780590353427"},"related_isbns":["9780590353427","9780439203524","9780439211161","9780439332972","9780439362139","9780439366731","9780439554930","9780553668384","9780590353403","9780606170970","9780606172332","9780606216067","9780613206334","9780613959926",[...]
- request:
    method: get
    uri: http://api.powells.com/v0c/testing/product/9780590353427
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"msg":[],"input":{"extension":null,"page":"1","per_page":"10","api":"product","apikey":"testing"},"status":"success","meta":{"utm_source":"powellsapi","page":"0","last_page":"0","per_page":"10","page_results":"1","internal":1},"results":[{"cover_images":{"60":"http://content-7.powells.com/bookcovers/60/9780590353427","120":"http://content-7.powells.com/bookcovers/120/9780590353427"},"related_isbns":["9780590353427","9780545069670","9780439203524","9780439211161","9780439332972","9780439362139","9780439366731","9780439554930","9780553668384","9780590353403","9780606170970","9780606172332","9780606216067","9780613206334","9780613959926","9780736690003"],"author":{"alpha":"Rowling,
        J. K. ","proper":"J. K. Rowling"},"product_page":"http://www.powells.com/biblio/9780590353427?utm_source=powellsapi","isbn":"9780590353427","title":"Harry
        Potter and the Sorcerer''s Stone (Harry Potter #1)","publisher":"Arthur A.
        Levine Books","list_prices":{"10.99":1}}]}'
  recorded_at: Thu, 19 Jun 2014 10:00:09 GMT
- request:
    method: get
    uri: http://api.powells.com/v0c/testing/content/17-9780590353427-80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"msg":[],"input":{"extension":null,"page":"1","per_page":"10","api":"content","apikey":"testing"},"status":"success","meta":{"utm_source":"powellsapi","page":"0","last_page":"0","per_page":"10","page_results":"1","internal":1},"results":[{"excerpt":[{"text":"&lt;b&gt;Chapter
        Two &lt;br&gt;The Vanishing Glass&lt;/b&gt; &lt;P&gt;Nearly ten years had
        passed since the Dursleys had woken up to find their nephew on the front step,
        but Privet Drive had hardly changed at all. The sun rose on the same tidy
        front gardens and lit up the brass number four on the Dursleys'' front door;
        it crept into their living room, which was almost exactly the same as it had
        been on the night when Mr. Dursley had seen that fate[...]
- request:
    method: get
    uri: http://api.powells.com/v0c/testing/pdxbestsellers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"msg":[],"input":{"extension":null,"page":"1","per_page":"10","api":"pdxbestsellers","apikey":"testing"},"status":"success","meta":{"utm_source":"powellsapi","internal":1},[...]
[...]
- request:
    method: get
    uri: http://api.powells.com/v0c/testing/locations/powells-city-of-books
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJtc2ciOltdLCJpbnB1dCI6eyJleHRlbnNpb24iOm51bGwsInBhZ2UiOiIx
        IiwicGVyX3BhZ2UiOiIxMCIsImFwaSI6ImxvY2F0aW9uIiwiYXBpa2V5Ijoi
   [...]
- request:
    method: get
    uri: http://api.powells.com/v0c/testing/locations
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJtc2ciOltdLCJpbnB1dCI6eyJleHRlbnNpb24iOm51bGwsInBhZ2UiOiIx
        IiwicGVyX3BhZ2UiOiIxMCIsImFwaSI6ImxvY2F0aW9uIiwiYXBpa2V5Ijoi
        dGVzdGluZyJ9LCJzd[...]
- request:
    method: get
    uri: http://api.powells.com/v0c/testing/search/harry%20potter?per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"msg":[],"input":{"extension":null,"page":"1","per_page":"20","api":"search","apikey":"testing"},"status":"success","meta":{"utm_source":"powellsapi","pa[...]
